*{
    margin: 10px;
    padding: 0;
}

.primeira-caixa{
    background-color: rgb(202, 198, 198);
}

.primeira-caixa-background{
    background-color: rgb(202, 198, 198);
    margin: auto;
}

.d-inline{
    background-color: red;
}

.junta-tudo{
    display: flex;  
}